:root{
  // TYPOGRAPHY
  --text: #707070;
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Permanent Marker', cursive;
  // COLORS
  --blue: #4DAABF;
  --deep-blue: #4daabf;
  --soft-blue: #C1E1E9;
  --gray: #EFEDEE;
  --white: #FFFFFF;
  --royal-white: #F5F5F5;
  --black: #000;
  --blackRGB: rgb(0,0,0);
  // SLIDER
  --square: #707070;
}