:root{
  // TYPOGRAPHY
  --text: #000;
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Permanent Marker', cursive;
  // COLORS
  --blue: #4169E1;
  --blue-soft: #4DAABF;
  --blue-deep: #2C3E50;
  --gray: #EFEDEE;
  --white: #FFFFFF;
  --white-200: #ECF0F1;
  --black: #000;
  --blackRGB: rgb(0,0,0);
  // SLIDER
  --square: #707070;
}